html,
body,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
p,
form,
input,
div {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Hiragino Kaku Gothic ProN W3", sans-serif;
  
}

li {
  list-style: none;
}

.container {
  max-width: 1170px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

h1 {
  font-family: 'Sacramento', cursive;
}

header {
  height: 65px;
  width: 100%;
  font-family: 'Sacramento', cursive;
  background-color:#E7B1A9;
  position: fixed;
  top: 0;
  z-index: 10;
}

.header-left {
  float: left;
}

.header-left a {
  text-decoration: none;
  display: block;
  padding-top: 10px;
  color: white;
  font-size: 32px;
}

.header-right {
  float: right;
  margin-right: -25px;
}

.header-right a {
  line-height: 65px;
  padding: 0 25px;
  color: white;
  display: block;
  float: left;
  transition: all 0.5s;
}

.header-right a:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.top-text {
  padding-top: 84px;
  text-align: center;
  color: 	#90563C;
}

.top-wrapper {
  padding: 250px 0;
  background-image: url(img/top.jfif);
  background-size: 35% contain;
  opacity: .8;
  background-position: center; 
  color: white;
  text-align: center;
  position: relative;
}

main {
  padding-top: 240px;
  text-align: center;
  color: #715B38;
}

main p {
  font-size: 13px;
  color: #715B38;
}

.works {
  padding: 64px 0 130px 0;
}

.works-images1 {
  display: flex;
  gap: 50px;
  justify-content: center;
  padding-top: 64px;
}

.works-images2 {
  display: flex;
  gap: 50px;
  justify-content: center;
  padding-top: 64px;
}

.works-image img {
  object-fit: cover;
}

.about {
  padding: 64px 64px;
}

.about-photo {
  text-align: center;
  padding: 20px 20px;
}

.about-photo img {
  border-radius: 50%;
}

.about-texts {
  width: 390px;
  text-align: left;
  margin: 0 auto;
}

.about-text-1 {
  padding-bottom: 50px;
}

.about-text-1 p {
  font-size: 15px;
} 

.about-text-1 span {
  font-weight: bold;
} 

.about-text-2 {
  padding-bottom: 30px;
}

.about-text-2 p {
  font-size: 14px;
  line-height: 1.8;
} 


.skill {
  padding-top: 64px;
  padding-bottom: 230px;
}

.skill-text p {
  font-size: 14px;
  line-height: 1.8;
}

.link {
  color: white;
}

footer {
  height: 65px;
  width: 100%;
  background-color: #E7B1A9;
  color: white;
}

footer p {
  font-family: 'Sacramento', cursive;
  display: block;
  line-height: 65px;
  float: right;
}