/* タブレット向けレイアウト */
@media all and (max-width: 1000px) {
 .top-wrapper h1 {
   font-size: 32px;
  }
   .lesson {
    width: 50%;
    margin-bottom: 50px;
    }
  .heading h2 {
    font-size: 20px;
  }
footer {
  text-align: center;
 }
 
}
/* モバイル向けレイアウト */
@media all and (max-width: 670px) {
  .menu-icon {
    display: block;
  }
   .header-right {
    display: none;
  }
  .top-wrapper h1 {
   font-size: 24px;
   text-align: left;
  }
  .top-wrapper p {
    font-size: 14px;
    text-align: left;
  } 
  .top-wrapper .btn {
    width: 100%;
  }
  .facebook {
    margin-bottom: 10px; 
  }
  .btn-wrapper p {
  margin: 10px 0;
  text-align: center;
  }
  .lesson {
    width: 100%;
  }
  .message {
    width:100%;
  }
}